<%= simple_form_for(@photo, { class: 'form-horizontal' }) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input:title %>
  </div>
  <div class='field'>
    <%= f.input :image, as: :file %>
  </div>
  <div class="field">
    <%= f.input :descriptoin, as: :text %>
  </div>
  <div class="field">
    <%= f.input :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
